<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Passenger Records</title>
  <style>

body{

}
html{
background-image: url("img_12.png") !important;
}

.intro
{
top:20%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
  </style>
</head>
<body>
 <section class="intro">
  <div class="bg-image h-100" style="background-image: url(img_12.png);">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                  <table class="table table-striped mb-0">
                    <thead style="background-color: #002d72;">
                      <tr>
                        <th scope="col">First Name</th>
                         <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Passport ID</th>
                      </tr>
                    </thead>
                    <tbody id="record">
                      <tr>
                        <td>Adam</td>
                        <td>Smith</td>
                        <td>37</td>
                        <td>PP23469djIOP</td>

                      </tr>
                      <tr>
                       <td>Laura</td>
                        <td>Jones</td>
                        <td>33</td>
                        <td>PP25553djIOP</td>

                      </tr>
                      <tr>
                        <td>Charlotte</td>
                        <td>Davis</td>
                        <td>22</td>
                        <td>PP56969djIOP</td>

                      </tr>
                      <tr>
                        <td>Jack</td>
                        <td>Taylor</td>
                        <td>17</td>
                        <td>PP274864fIOP</td>

                      </tr>
                      <tr>
                      <td>Matt</td>
                        <td>william</td>
                        <td>44</td>
                        <td>PP492454djIOP</td>

                      </tr>
                      <tr>
                        <td>Willson</td>
                        <td>Evans</td>
                        <td>30</td>
                        <td>PP19753djIOP</td>

                      </tr>
                      <tr>
                       <td>Mel</td>
                        <td>brown</td>
                        <td>25</td>
                        <td>PP75365djIOP</td>

                      </tr>
                      <tr>
                      <td>Tilly</td>
                        <td>Davies</td>
                        <td>41</td>
                        <td>PP456321djIOP</td>

                      </tr>
                      <tr>
                      <td>Lucious</td>
                        <td>Macron</td>
                        <td>35</td>
                        <td>PP85236djIOP</td>

                      </tr>

                      <tr>
                        <td>Elijah</td>
                        <td>Farrington</td>
                        <td>29</td>
                        <td>PP4843785djIOP</td>
                      </tr>

                      <tr>
                        <td>Michael</td>
                        <td>Matter</td>
                        <td>20</td>
                        <td>PP45455djIOP</td>
                      </tr>

                      <tr>
                        <td>Olive</td>
                        <td>Yew</td>
                        <td>26</td>
                        <td>PP493175djIOP</td>
                      </tr>

                      <tr>
                        <td>Allie </td>
                        <td>Grater</td>
                        <td>46</td>
                        <td>PP8934525djIOP</td>
                      </tr>

                      <tr>
                        <td>Teri </td>
                        <td>marseille</td>
                        <td>48</td>
                        <td>PP852152152djIOP</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>